@if(pokemonLoading()) {
<div class="pokemon__loading ">
    <img class="pokemon__loading__image"
        src="https://assets-v2.lottiefiles.com/a/051fa598-201e-11ef-b23d-ff15534e86bc/PL0Rkn51iL.gif"
        alt="Loading..." />

    <p class="pokemon__loading__text skeleton__text--dark">Loading pokemon data...</p>
</div> }


@else if(pokemon()) {
<div class="pokemon__header">
    <img class="pokemon__header__img" [src]="pokemon()?.images?.small" alt="{{ pokemon()?.name }}" />
    <div class="pokemon__header__content">
        <div class="pokemon__row">
            <h2 class="pokemon__name ellipsis">{{ pokemon()?.name ?? defaultValue }}</h2>
        </div>

        <div class="pokemon__row">
            <p class="artist"><span class="stats__name">Artist:</span> <span class="artist--value">{{
                    pokemon()?.artist ?? defaultValue }}</span></p>
            <p class="pokemon__id">#{{ pokemon()?.id ?? defaultValue }}</p>
        </div>

        <div class="pokemon__stats">
            <span class="stats__name">type stats: </span>
            @if(pokemon()?.supertype) { <p [matTooltip]="`Supertype: ${pokemon()?.supertype} `"
                class="pokemon__badge pokemon__badge--supertype">{{
                pokemon()?.supertype ?? pokemon()?.supertype }}</p> }

            @if(pokemon()?.types) { <p [matTooltip]="`Types: ${pokemon()?.types?.join(', ')}`"
                class="pokemon__badge pokemon__badge--supertype">{{
                pokemon()!.types!.length >= 2 ?
                `${pokemon()!.types![0]} + ${pokemon()!.types!.length - 1} others` : pokemon()!.types }}</p> }

            @if(pokemon()?.subtypes) { <p [matTooltip]="`Types: ${pokemon()?.subtypes?.join(', ')} `"
                class="pokemon__badge pokemon__badge--supertype">{{
                pokemon()!.subtypes!.length >= 2 ?
                `${pokemon()!.subtypes![0]} + ${pokemon()!.subtypes!.length - 1} others` : pokemon()!.subtypes }}</p> }
        </div>

        <div class="thermometer__container">
            @if(pokemon()?.hp) {
            <app-thermometer [value]="pokemon()?.hp" [maxValue]="150" [label]="'HP:'"></app-thermometer>
            }

            @for(reistance of pokemon()?.resistances ?? []; track reistance.type){
            <app-thermometer [value]="reistance.value" [maxValue]="100"
                [label]="reistance.type + ' resistance'"></app-thermometer>
            }


            <button class="pokemon__edit__button" mat-stroked-button (click)="openEditDialog()">
                Edit </button>

            @if(pokemon()?._updatedAt) { <p class="pokemon__editted">editted</p> }

        </div>
    </div>
</div>

@if(pokemon() && pokemon()?.attacks ) {
<h3 class="heading">Attacks:</h3>
<app-pokemon-attacks [attacks]="pokemon()!.attacks"></app-pokemon-attacks>
}

@if(similarPokemons() !== undefined && similarPokemons().length > 0) {
<h3 class="heading">Similar pokemons:</h3>
<div class="pokemon__similar">
    @for(pokemon of similarPokemons(); track pokemon.id) {
    <img [attr.data-cy]="'similar-pokemon-item'" (click)="navigateToThisPokemon(pokemon.id)"
        class="pokemon__similar__image" [src]="pokemon?.images?.small" alt="{{ pokemon.name }}" />
    }
</div>
}

}