:host {
  width: 100%;
  height: 100%;
  padding: 1rem;

  .pokemon {
    &__edit__button {
      margin-top: 1rem;
      width: fit-content;
    }
    &__header {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      &__content {
        flex: 1;
      }

      &__img {
        width: 13rem;
      }
    }
    &__name {
      font-size: 2.5rem;
      color: #363062;
      letter-spacing: -1px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__id {
      font-size: 1.2rem;
      color: #464072;
      border: 1px solid #ccc;
      border-radius: 0.75rem;
      width: fit-content;
      padding: 0.15rem 1rem;
    }

    &__id:hover {
      background-color: #f0f0f0;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__stats {
      margin-top: 0.25rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__badge {
      border-radius: 0.8rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid #ccc;
      font-size: 0.9rem;
      color: #424461;
      background-color: #e7e1ff;
      font-weight: bold;
      width: fit-content;
    }

    &__loading {
      height: 70vh;
      min-height: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__image {
        width: 50%;
      }

      &__text {
        font-size: 1.5rem;
        color: #363062;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    &__similar {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.5rem;
      margin-top: auto;

      &__image {
        width: 100%;
        cursor: pointer;
      }

      &__description {
        width: 60%;
        font-size: 0.9rem;
        color: #62598b;
        margin-top: 0.5rem;
      }
    }
  }
}

.artist {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &--value {
    font-size: 1.2rem;
    color: #a698e4;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.heading {
  font-size: 1.5rem;
  color: #363062;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
