:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
}

.text--fallback {
  color: #a5bde3;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 10rem 0;
  text-align: center;
  letter-spacing: 0.05rem;
}
