<mat-form-field>
    <mat-label>Types</mat-label>
    <mat-select [formControl]="typesControl" multiple>
        <mat-select-trigger>
            {{typesControl.value?.[0] || ''}}
            @if ((typesControl.value?.length || 0) > 1) {
            <span class="additional">
                (+{{(typesControl.value?.length || 0) - 1}} {{typesControl.value?.length === 2 ? 'other' : 'others'}})
            </span>
            }
        </mat-select-trigger>
        @for (type of typesList(); track type) {
        <mat-option [value]="type">{{type}}</mat-option>
        }
    </mat-select>
</mat-form-field>