@use "@angular/material" as mat;

:host {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    transform: translateY(-0.5rem);
  }

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );

  ::ng-deep .mdc-text-field {
    background-color: #504478;
    width: 10rem;
  }
}
