@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
    background-color: #403468;
  }
}

:host {
  div {
    height: 4rem;
    background-color: #504478;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
}

.skeleton {
  animation: pulse 1.5s ease-in-out infinite;
}
