<img class="pokemon__image" [src]="pokemon().set.images.symbol" alt="{{ pokemon().name }}" />
<div class="pokemon__content">
    <div class="pokemon__info">
        <p class="pokemon__name">{{ pokemon().name }}</p>
        <div class="pokemon__badges">
            @if(pokemon().supertype) { <p class="pokemon__badge">{{ pokemon().supertype }}</p>}

            @if(pokemon().types) { <p class="pokemon__badge">{{ pokemon().types.length >= 2 ? `${pokemon().types[0]} +
                ${pokemon().types.length - 1} others` : pokemon().types }}</p>}

            @if(pokemon().subtypes) { <p class="pokemon__badge">{{ pokemon().subtypes.length >= 2 ?
                `${pokemon().subtypes[0]} + ${pokemon().subtypes.length - 1} others` : pokemon().subtypes }}</p>}
        </div>
    </div>

    <div class="pokemon__stats">
        @if(pokemon()._updatedAt) { <p class="pokemon__editted">{{ 'editted' }}</p> }
        <p class="pokemon__stat">{{ pokemon().rarity }}</p>
    </div>
</div>