:host(.pokemon__item--active) {
  background: #352963;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  height: 4rem;
  border: 1px solid #aaa;
  background-color: #504478;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  gap: 0.75rem;

  .pokemon {
    &__image {
      width: 3rem;
      height: 3rem;
      background-size: cover;
      background-position: center;
      opacity: 0.8;
    }

    &__name {
      color: #eee;
      font-size: 1.2rem;
      margin: 0;
      line-height: 0.75rem;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }

    &__info {
      padding: 0;
      margin: 0;
      height: 2.5rem;
    }

    &__stats {
      display: flex;
      align-items: center;
      color: #eee;
    }

    &__stat {
      font-size: 1rem;
      color: #ccc;
    }

    &__badges {
      display: flex;
      height: 100%;
      gap: 0.5rem;
      flex: 1;
    }

    &__badge {
      background-color: #635791;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      border-radius: 12px;
      color: #ddd;
    }
  }
}

:host:hover {
  background-color: #453973;
}
