<img class="pokemon__image" [src]="pokemon().set.images.symbol" alt="{{ pokemon().name }}" />
<div class="pokemon__content">
    <div class="pokemon__info">
        <p class="pokemon__name">{{ pokemon().name }}</p>
        <div class="pokemon__badges">
            @if(pokemon().types) { <p class="pokemon__badge">{{ pokemon().types }}</p>}
            @if(pokemon().supertype) { <p class="pokemon__badge">{{ pokemon().supertype }}</p>}
            @if(pokemon().subtypes) { <p class="pokemon__badge">{{ pokemon().subtypes }}</p>}
        </div>
    </div>

    <div class="pokemon__stats">
        <p class="pokemon__stat">{{ pokemon().rarity }}</p>
    </div>
</div>