.pokemon__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.pokemon__item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
