.pokemon__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 40rem;
  margin: 1rem auto;
  box-sizing: border-box;
  cursor: pointer;
}

.pokemon__item img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
