.app {
  display: flex;
  min-height: 40rem;
  height: 100vh;
  max-height: 100vh;
  background-color: #363062;
  overflow: hidden;
  width: 100%;
  position: relative;

  &__section {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 10;

    &--left {
      height: 80%;
      align-self: center;
    }
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__card {
    flex: 1;
  }

  &__title {
    color: #eee;
    font-size: 2.5rem;
    margin: 0;
  }

  &__description {
    color: #bbb;
    font-size: 1rem;
    margin: 0;
  }
}

.japanese {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: #403468;
  z-index: 1;
  pointer-events: none;
}
