<main class="app__container">
  <section class="app__section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome to the Pokémon App!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Find your favorite pokémons here!</p>

        <app-pokemon-filter />
      </mat-card-content>
    </mat-card>

    <app-pokemon-list />

    <app-pokemon-paginator />
  </section>

  <section class="app__section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pokemon details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Press any pokemon to see it's details.</p>
      </mat-card-content>
    </mat-card>

    <router-outlet />

  </section>



</main>