/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media only screen and (max-width: 25em) {
      @content;
    } //400px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 30em) {
      @content;
    } //480px
  }

  @if $breakpoint == mini-tablet {
    @media only screen and (max-width: 40em) {
      @content;
    } //640px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 64em) {
      @content;
    } //1024px
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  background-color: #363062;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #504478,
    )
  );
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stats__name {
  font-size: 1rem;
  font-style: italic;
  text-transform: lowercase;
  color: #aaa;

  @include respond(mini-tablet) {
    font-size: 0.75rem;
  }
}

@mixin skeleton-pulse(
  $property: background-color,
  $color: #403468,
  $name: pulse
) {
  & {
    animation: #{$name} 1.5s ease-in-out infinite;
  }
  @keyframes #{$name} {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
      #{$property}: #{$color};
    }
  }
}

.skeleton--dark {
  @include skeleton-pulse(background-color, #403468, pulse-dark);
}

.skeleton--light {
  @include skeleton-pulse(background-color, #bdbdbd, pulse-light);
}

.skeleton__text--dark {
  @include skeleton-pulse(color, #403468, pulse-text);
}
