/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  background-color: #363062;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #504478,
    )
  );
}
